.header__subtitle {
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    justify-self: auto;
    z-index: 2;
    font-size: 18px;
    line-height: 25px;
    font-family: 'inter', 'Arial', sans-serif;
    font-style: normal;
  }